---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'span'> {
    size?: string;
    name?: string;
    theme?: string;
    animation?: 'height'|'width'|'opacity';
    speed?: number|string;
}
    
const {
    size="1rem",
    name='theme-icons',
    theme="body.dark",
    animation='height',
    speed='250',
    class: _class,
    ...attrs
} = Astro.props as Props

if (!Number.isInteger(+speed)) console.warn("<ThemeIcon>: 'speed' prop must be a number or string number")

const height = animation === 'height'
const width = animation === 'width'
const opacity = animation === 'opacity'
---

<span class:list={[name, _class]} {...attrs}>
    <slot />
</span>

<style set:html={`.${name}{position:relative;display:block;height:${size};width:${size};}.${name} *:nth-child(1){position:absolute;inset:0;height:100%;width:100%;${animation?`transition:${animation} ${speed}ms;`:''}}.${name} *:nth-child(2){position:absolute;inset:0;height:${height?'0':'100%'};width:${width?'0':'100%'};${opacity?`opacity:0;`:''}${animation?`transition:${animation} ${speed}ms;`:''}}${theme} .${name} *:nth-child(1){${animation}:0;}${theme} .${name} *:nth-child(2){${animation}:100%;}`}/>