---
import Base from "@/layouts/Base.astro";
import { Switch, When } from 'astro-headless-ui';

const value = ''+(Math.floor(Math.random() * 6) + 1)

const bool = true
---

<Base>
    <h2>When</h2>
        <When when={true}>
            <p>This is True</p>
            <p slot="false">This is False</p>
        </When>
        <When>
            <p>This is True</p>
            <p slot="false">This is False</p>
        </When>
    <hr>
    <h2>Switch</h2>
    <Switch name={value}>
        <p>Default</p>
        <p slot='1'>First</p>
        <p slot='2'>Second</p>
        <p slot='3'>Third</p>
        <p slot='4'>Fourth</p>
        <p slot='5'>Fith</p>
    </Switch>
    <Switch name={value} arg="0" args={{
            '0': 'Default',
            '1': 'One',
            '2': 'Two',
            '3': 'Three',
            '4': 'Four',
            '5': 'Five'
        }}
    >
        <p>{v => <p>{v}</p>}</p>
        <p slot='1'>{v => <p>1: {v}</p>}</p>
        <p slot='2'>{v => <p>2: {v}</p>}</p>
        <p slot='3'>{v => <p>3: {v}</p>}</p>
        <p slot='4'>{v => <p>4: {v}</p>}</p>
        <p slot='5'>{v => <p>5: {v}</p>}</p>
    </Switch>
    <h2>Ordered Switch</h2>
    <Switch>
        <p>Default is True</p>
        <When slot="1">
            <p>1 is True</p>
        </When>
        <When slot="2">
            <p>2 is True</p>
        </When>
        <When slot="3">
            <p>3 is True</p>
        </When>
    </Switch>
    <Switch>
        <p>Default is True</p>
        <When slot="1">
            <p>1 is True</p>
        </When>
        <When slot="2">
            <p>2 is True</p>
        </When>
        <When slot="3">
            <p>3 is True</p>
        </When>
        <When slot="4">
            <p>4 is True</p>
        </When>
        <When slot="5" one={true} two={true}>
            <p>5 is True</p>
        </When>
        <When slot="6">
            <p>6 is True</p>
        </When>
    </Switch>
</Base>