---
export interface Props {
    name: string;
    url: string;
    cols?: number;
    rows?: number;
    height: number;
    width: number;
    speed?: number;
}

const {
    name,
    url,
    cols=1,
    rows=1,
    height,
    width,
    speed=1000
} = Astro.props

const horizontal = cols>1&&rows===1?true:false
const vertical = rows>1&&cols===1?true:false
const grid = cols>1&&rows>1?true:false
---

<div class={`${name}-animation`}>

</div>

<style set:html={`
    .${name}-animation {
        height: ${height / rows}px;
        width: ${width / cols}px;
        background: transparent url(${url}) 0 0 no-repeat;
        animation:
            ${horizontal?`${name}-animation-x ${speed}ms steps(${cols}) infinite;`:''}
            ${vertical?`${name}-animation-y ${speed}ms steps(${rows}) infinite;`:''}
            ${grid?`${name}-animation-x ${speed}ms steps(${cols}) infinite,${name}-animation-y ${speed * cols}ms steps(${rows}) infinite;`:''}
    }

    ${ horizontal || grid ? `    
        @keyframes ${name}-animation-x {
            from {background-position-x: 0px;}
            to { background-position-x: -${width}px; }
        }
    `:''}

    ${ vertical || grid ? `    
        @keyframes ${name}-animation-y {
            from {background-position-y: 0px;}
            to { background-position-y: -${height}px; }
        }   
    `:''}
`}/>