---
import Base from "@/layouts/Base.astro";
import { For } from "astro-headless-ui";
---

<Base>
    <h1>For</h1>
    <p>mapping component with similar syntax to solidjs 'For' Component, use slots to target different indexes for alternative render</p>
    <ul>
        <For {...['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']}>
            <h3>Default</h3>
            {i => <li>{i}</li>}
            <five slot="5">{i => <><h3>Index # 5</h3><li>Index # 5: {i}</li></>}</five>
            <test slot="-2">{i => <><h3>Second to Last</h3><li>Second to Last Item: {i}</li></>}</test>
            <last slot="-1">{i => <><h3>Last</h3><li>Last Item: {i}</li></>}</last>
        </For>
    </ul>
    <h2>Loop test</h2>
    <ul>
        <For loop={5}>
            <h3>Default</h3>
            {i => <li>{i}</li>}
            <h3 slot="1">This is two</h3>
        </For>
    </ul>
    <h2>Nested testing</h2>
    <ul>
        <For {...['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']}>
            {i => (
                <li>
                    {i}
                    <ul>                       
                        <For {...i}>
                            {i => <li>{i}</li>}
                        </For>
                    </ul>
                </li>
            )}
        </For>
    </ul>
</Base>