---
import Base from "@/layouts/Base.astro";
import { Switch, When } from 'astro-headless-ui';

const value = ''+(Math.floor(Math.random() * 6) + 1)

const bool = true
---

<Base>
    <h2>When</h2>
        <When when={true}>
            <h3>This is True</h3>
            <h3 slot="false">This is False</h3>
        </When>
        <When>
            <h3>This is True</h3>
            <h3 slot="false">This is False</h3>
        </When>
    <hr>
    <h2>Switch</h2>
    <Switch name={value}>
        <h1>Default</h1>
        <h1 slot='1'>First</h1>
        <h1 slot='2'>Second</h1>
        <h1 slot='3'>Third</h1>
        <h1 slot='4'>Fourth</h1>
        <h1 slot='5'>Fith</h1>
    </Switch>
    <Switch name={value} arg="0" args={{
            '0': 'Default',
            '1': 'One',
            '2': 'Two',
            '3': 'Three',
            '4': 'Four',
            '5': 'Five'
        }}
    >
        <h1>{v => <h1>{v}</h1>}</h1>
        <h1 slot='1'>{v => <h1>1: {v}</h1>}</h1>
        <h1 slot='2'>{v => <h1>2: {v}</h1>}</h1>
        <h1 slot='3'>{v => <h1>3: {v}</h1>}</h1>
        <h1 slot='4'>{v => <h1>4: {v}</h1>}</h1>
        <h1 slot='5'>{v => <h1>5: {v}</h1>}</h1>
    </Switch>
    <hr>
    <h2>Ordered Switch</h2>
    <Switch>
        <h3>Default is True</h3>
        <When slot="1">
            <h3>1 is True</h3>
        </When>
        <When slot="2" when={true}>
            <h3>2 is True</h3>
        </When>
        <When slot="3">
            <h3>3 is True</h3>
        </When>
        <When slot="4">
            <h3>4 is True</h3>
        </When>
        <When slot="5">
            <h3>5 is True</h3>
        </When>
        <When slot="6">
            <h3>6 is True</h3>
        </When>
    </Switch>
</Base>